@font-face {
    font-family: SourceSansPro;
    src:url(fonts/SourceSansPro-Regular.otf)
}

@font-face {
    font-family: SourceSansProExtraLight;
    src:url(fonts/SourceSansPro-ExtraLight.otf)
}

@font-face {
    font-family: SpinCycle;
    src:url(fonts/spincycle_ot.otf)
}

body{
    margin: 0%;
}

div.header{
    position: absolute;
    width: 1103.41px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

header.bg{
    width: 1440px;
    height: 1093px;
    opacity: 0px;
    background-image: url(images/pic_1.jpg);
    background-repeat: no-repeat;
}

a.logo{
    width: 167.02px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    gap: 0px;
    opacity: 0px;
}

nav.menu{
    width: 234px;
    height: 15px;
    top: 37px;
    left: 1041px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

a.courses{
    width: 50px;
    height: 15px;
    gap: 0px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    color: #FFFFFF;
    text-decoration: none;
}

a.pricing{
    width: 45px;
    height: 15px;
    left: 102px;
    gap: 0px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    color: #FFFFFF; 
    text-decoration: none;       
}

a.login{
    width: 34px;
    height: 15px;
    left: 200px;
    gap: 0px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    color: #FFFFFF;
    text-decoration: none;
}

section.ban_cont{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1.get_schooled{
    position: absolute;
    width: 684px;
    height: 151px;
    top: 120px;
    left: 377px;
    gap: 0px;
    opacity: 0px;
    font-family: SourceSansPro;
    font-size: 120px;
    font-weight: 700;
    line-height: 150.84px;
    text-align: center;
    color: #FFFFFF;        
}

p.sgl{
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    align-items: center;
}

span.smiles{
    position: absolute;
    left: 593px;
    top: 361px;
}

span.grin{
    position: absolute;
    left: 704px;
    top: 361px;
}

span.laugh{
    position: absolute;
    left: 797px;
    top: 361px;
}

button.register{
    position: absolute;
    width: 162px;
    height: 44px;
    top: 419px;
    left: 639px;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 2px 20px 0px #00000080;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.6px;
    text-align: center;
    color: #FFFFFF;
    background: #C271FF;
}

h2.learn{
    position: absolute;
    left: 604px;
    top: 631px;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    text-align: center;    
    color: #C271FF;
}

span.ftp{
    font-family: SourceSansProExtraLight;
    font-size: 32px;
    font-weight: 300;
    line-height: 40.22px;
    text-align: center;
    color: #FFFFFF;
}

div.pros {
    width: 1009px;
    height: 237px;
    top: 758px;
    left: 217px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    color: #FFFFFF;
}

div.pro_1 {
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 217px;
    gap: 0px;
    opacity: 0px;
}

div.pro_2{
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 506px;
    gap: 0px;
    opacity: 0px;
}

div.pro_3{
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 787px;
    gap: 0px;
    opacity: 0px;
}

div.pro_4{
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 1076px;
    gap: 0px;
    opacity: 0px;
}

img.pro_pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}