@font-face {
    font-family: SourceSansPro;
    src:url(fonts/SourceSansPro-Regular.otf)
}

@font-face {
    font-family: SourceSansProBold;
    src:url(fonts/SourceSansPro-Bold.otf)
}

@font-face {
    font-family: SourceSansProSemibold;
    src:url(fonts/SourceSansPro-Semibold.otf)
}

@font-face {
    font-family: SourceSansProLight;
    src:url(fonts/SourceSansPro-Light.otf)
}

@font-face {
    font-family: SourceSansProExtraLight;
    src:url(fonts/SourceSansPro-ExtraLight.otf)
}

@font-face {
    font-family: SourceSansProIt;
    src: url(fonts/SourceSansPro-It.otf);
}

@font-face {
    font-family: SourceSansProBlack;
    src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
    font-family: SourceSansProBlackIt;
    src: url(fonts/SourceSansPro-BlackIt.otf);
}

@font-face {
    font-family: SpinCycle;
    src:url(fonts/spincycle_ot.otf)
}

body{
    margin: 0%;
    width: 1400px;
    height: 3718px;
}

div.header{
    position: absolute;
    width: 1103.41px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

header.bg{
    width: 1400px;
    height: 1093px;
    opacity: 0px;
    background-image: url(images/pic_1.jpg);
    background-repeat: no-repeat;
    mask-border: #071629;
}

a.logo{
    width: 167.02px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    gap: 0px;
    opacity: 0px;
}

nav.menu{
    width: 234px;
    height: 15px;
    top: 37px;
    left: 1041px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

a.courses{
    width: 50px;
    height: 15px;
    gap: 0px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    color: #FFFFFF;
    text-decoration: none;
}

a.pricing{
    width: 45px;
    height: 15px;
    left: 102px;
    gap: 0px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    color: #FFFFFF; 
    text-decoration: none;       
}

a.login{
    width: 34px;
    height: 15px;
    left: 200px;
    gap: 0px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    color: #FFFFFF;
    text-decoration: none;
}

section.ban_cont{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1.get_schooled{
    position: absolute;
    width: 684px;
    height: 151px;
    top: 120px;
    left: 377px;
    gap: 0px;
    opacity: 0px;
    font-family: SourceSansProBold;
    font-size: 120px;
    font-weight: 700;
    line-height: 150.84px;
    text-align: center;
    color: #FFFFFF;        
}

p.sgl{
    font-family: SourceSansProBold;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    align-items: center;
}

span.smiles{
    position: absolute;
    left: 593px;
    top: 361px;
}

span.grin{
    position: absolute;
    left: 704px;
    top: 361px;
}

span.laugh{
    position: absolute;
    left: 797px;
    top: 361px;
}

button.register{
    position: absolute;
    width: 162px;
    height: 44px;
    top: 419px;
    left: 639px;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 2px 20px 0px #00000080;
    font-family: SourceSansProSemibold;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.6px;
    text-align: center;
    color: #FFFFFF;
    background: #C271FF;
}

h2.learn{
    position: absolute;
    left: 604px;
    top: 604px;
    font-family: SourceSansProBold;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    text-align: center;    
    color: #C271FF;
}

span.ftp{
    font-family: SourceSansProExtraLight;
    font-size: 32px;
    font-weight: 300;
    line-height: 40.22px;
    text-align: center;
    color: #FFFFFF;
}

div.pros {
    width: 1009px;
    height: 237px;
    top: 758px;
    left: 217px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    color: #FFFFFF;
}

h3.pro_name{
    width: 150px;
    height: 27px;
    margin: 0%;
    position: relative;
    top: 10px;
    text-align: center;
    font-family: SourceSansProBlack;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

p.accolade{
    width: 150px;
    height: 48px;
    text-align: center;
    font-family: SourceSansProIt;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

div.pro_1 {
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 217px;
    gap: 0px;
    opacity: 0px;
}

div.pro_2{
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 506px;
    gap: 0px;
    opacity: 0px;
}

div.pro_3{
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 787px;
    gap: 0px;
    opacity: 0px;
}

div.pro_4{
    position: absolute;
    width: 150px;
    height: 237px;
    top: 758px;
    left: 1076px;
    gap: 0px;
    opacity: 0px;
}

img.pro_pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section.test_cont{
    background-color: #C271FF;
    width: 1400px;
    height: 392px;
    display: flex;
}

div.testimonial{
    position: relative;
    top: 108px;
    left: 259px;
    display: flex;
}

div.test_text_cont{
    position: relative;
    top: 2px;
    left: 53px;
    width: 730px;
    height: 158px;
    display: block;
}

img.testpro{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

blockquote.ttbq{
    width: 730px;
    height: 68px;
    margin: 0%;
    font-family: SourceSansPro;
    font-size: 22px;
    line-height: 33.6px;
    color: #FFFFFF;
}

p.ttp1{
    width: 129px;
    height: 34px;
    font-family: SourceSansProBold;
    font-size: 22px;
    line-height: 33.6px;
    color: #FFFFFF;
    margin-bottom: 0%;
}

p.ttp2{
    width: 165px;
    height: 34px;
    font-family: SourceSansProIt;
    font-size: 22px;
    line-height: 33.6px;
    color: #FFFFFF;
    margin: 0%;
}

/* ---TUTORIAL SECTION--- */

section.tutorial_master{
    width: 1228;
    height: 450;
    position: relative;
    top: 87px;
    left: 106px;
    display: flex;
    flex-flow: column nowrap;
}

section.tut_cont{
    display: flex;
    flex-flow: row nowrap;
}

div.vid_cont{
    width: 255px;
    height: 335px;
    display: flex;
    flex-flow: column nowrap;
}

div.d_pose{
    position: absolute;
    top: 115px;
    left: 58px;
}

div.s_pose{
    position: absolute;
    top: 115px;
    left: 344px;
}

div.n_pose{
    position: absolute;
    top: 115px;
    left: 629px;
}

div.h_pose{
    position: absolute;
    top: 115px;
    left: 914px;
}

div.phil_cont{
    margin-left: 13px;
    display: flex;
    gap: 13px;
    align-items: center;
}

div.startime_cont{
    margin-left: 13px;
    display: flex;
    gap: 79px;
    align-items: center;
}

img.tut_vid{
    width: 255px;
    height: 154px;
}

img.lilphil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

img.star{
    width: 15px;
    height: 15px;
}

h1.mostpop{
    position: absolute;
    left: 482px;
    top: 0px;
    width: 294px;
    height: 40px;
    font-family: SourceSansProLight;
    font-size: 32px;
    color: #071629;
}

span.popular{
    font-family: SourceSansProBold;
    color: #C271FF;
}

h2.tut_name{
    margin-left: 13px;
    width: auto;
    height: 20px;
    font-family: SourceSansProBold;
    font-size: 16px;
    color: #071629;
}

p.tut_lorem{
    margin-left: 13px;
    width: 242px;
    height: 48px;
    font-family: SourceSansPro;
    font-size: 14px;
    color: #071629;
    opacity: 50.16%;
}

h3.phil{
    width: 86px;
    height: 27px;
    font-family: SourceSansProSemibold;
    font-size: 14px;
    line-height: 27px;
    color: #C271FF;
}

div.star_cont{
    width: 107px;
    height: 15px;
    display: flex;
    gap: 8px;
}

p.time{
    width: 34px;
    height: 27px;
    font-family: SoruceSansProSemibold;
    font-size: 14px;
    line-height: 27px;
    text-align: right;
    color: #C271FF;
}

/* ---MEMBERSHIP SECTION--- */

section.member_cont{
    width: 1400px;
    height: 502px;
    position: relative;
    top: 624px;
    background-color: #071629;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1.free_mem{
    position: absolute;
    top: 70px;
    margin: 0%;
    font-family: SourceSansProBold;
    font-size: 32px;
    color: #C271FF;
}

span.membership{
    font-family: SourceSansProLight;
    font-size: 32px;
    color: #FFFFFF;
}

div.smileline{
    position: absolute;
    top: 168px;
    margin: 0%;
    display: flex;
    flex-flow: row nowrap;
    gap: 28px;
    justify-content: center;
}

div.smile_cont{
    width: 257px;
    height: 153px;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

img.smile{
    width: 43.67px;
    height: 35.35px;
}

h2.memlorem_h2{
    width: 256px;
    height: 26px;
    font-family: SourceSansProSemibold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

p.memlorem_p{
    width: 212px;
    height: 52px;
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

button.membutton{
    position: absolute;
    top: 406px;
    margin: 0%;
    width: 162px;
    height: 44px;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 2px 20px 0px #00000080;
    color: #FFFFFF;
    background: #C271FF;
}

/* ---FAQ SECTION--- */

section.faq_cont{
    width: 920px;
    height: 707px;
    position: relative;
    top: 656px;
    left: 249px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 74px;
}

h1.faq_h1{
    position: absolute;
    top: 67px;
    width: 136px;
    height: 75px;
    text-align: center;
    font-family: SourceSansProLight;
    font-size: 60px;
    color: #071629;
}

div.faqs{
    position: absolute;
    top: 216px;
    width: 920px;
    height: 558px;
    display: flex;
    flex-flow: row nowrap;
    gap: 220px;
    align-content: center;
    justify-items: center;
}

div.q_cont{
    position: relative;
    top: 74px;
    width: 350px;
    height: 558px;
    display: flex;
    flex-flow: column nowrap;
    gap: 74px;
}

div.q_text{
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

h2.faq_h2{
    margin: 0%;
    width: 145px;
    height: 20px;
    font-family: SourceSansProBold;
    font-size: 16px;
    color: #071629;
}

p.faq_lorem{
    margin: 0%;
    width: 350px;
    height: 192px;
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 24px;
    color: #071629;
    opacity: 50.16%;
}

/* ---Footer Section--- */

footer.footer_cont{
    position: relative;
    top: 858px;
    width: 1400px;
    height: 249px;
    background-color: #071629;
}

img.footer_logo{
    position: absolute;
    top: 95px;
    left: 165px;
    width: 169px;
    height: 30px;
}

div.icon_cont{
    position: absolute;
    top: 90px;
    left: 1070px;
    width: 130px;
    height: 30px;
    display: flex;
    gap: 20px;
}

img.soc_icon{
    width: 30px;
    height: 30px;
}

p.copyright{
    position: absolute;
    top: 195px;
    left: 672px;
    width: 96px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 35.17%;
}
